In [1]:
import psycopg2
import pandas as pd
# Specify the file path
file_path = "C:/Users/USER/OneDrive/Documents/student's marks.xlsx"
# Read the Excel file into a Pandas DataFrame
df = pd.read_excel(file_path)

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df

  Student Name  Marks
0        Alice   0.84
1         Bob    0.57
2        Carol   0.95
3        Emily   0.69
4        Frank   0.41
5        Henry   0.74
6         Jack   0.33

In [4]:
data = { 
         "first name" : ["John", "James", "Mary"], 
         "Age" :  [22, 34, 30], 
         "GENDER":["M", "M", "F"], 
         "salary ":[30000, 56000, 44000]
       }

In [5]:
mydf = pd.DataFrame(data)

In [6]:
type(data)

dict

In [7]:
mydf.columns

Index(['first name', 'Age', 'GENDER', 'salary '], dtype='object')

In [8]:
mydf['Age']

0    22
1    34
2    30
Name: Age, dtype: int64

In [9]:
mydf.columns.map(str.lower)

Index(['first name', 'age', 'gender', 'salary '], dtype='object')

In [10]:
def cleanColumn(data):
    keysList = list(data.keys())
    for key in keysList:
        data[key.lower()] = data.pop(key)   
map(cleanColumn(data), data)
data

{'first name': ['John', 'James', 'Mary'],
 'age': [22, 34, 30],
 'gender': ['M', 'M', 'F'],
 'salary ': [30000, 56000, 44000]}

In [11]:
conn = psycopg2.connect("dbname=myduka user=postgres password=Candidcoco@20")

In [12]:
df = pd.read_sql_query("SELECT sales.id as sales_id, product_name, buying_price, selling_price, sales.quantity as sales_quantity, created_at as sales_created_at FROM products,sales WHERE products.id = sales.pid", conn)

In [13]:
df.set_index('sales_id', inplace=True,verify_integrity=False)

In [14]:
df.head(5)

,product_name,buying_price,selling_price,sales_quantity,sales_created_at
sales_id,,,,,
1,Vinegar - Tarragon,65,21,23,2022-11-13
2,Cloves - Whole,33,75,12,2022-08-31
3,"Pail - 15l White, With Handle",47,10,92,2022-12-29
4,"Chocolate - Pistoles, Lactee, Milk",75,37,17,2023-04-08
5,Cassis,16,82,100,2023-05-25