In [2]:
import pandas as pd
# Specify the file path
file_path = "C:/Users/USER/OneDrive/Documents/studentmarks.xlsx"
# Read the Excel file into a Pandas DataFrame
df = pd.read_excel(file_path)

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df

  Student Name  Marks
0        Alice   0.84
1         Bob    0.57
2        Carol   0.95
3        Emily   0.69
4        Frank   0.41
5        Henry   0.74
6         Jack   0.33

In [5]:
data = { 
         "first name" : ["John", "James", "Mary"], 
         "Age" :  [22, 34, 30], 
         "GENDER":["M", "M", "F"], 
         "salary ":[30000, 56000, 44000]
       }

In [6]:
mydf = pd.DataFrame(data)

In [7]:
type(data)

dict

In [8]:
mydf.columns

Index(['first name', 'Age', 'GENDER', 'salary '], dtype='object')

In [9]:
mydf['Age']

0    22
1    34
2    30
Name: Age, dtype: int64

In [10]:
def cleanColumn(data):
    #get all the key values
    keysList = list(data.keys())
    
    #loop through the key values
    for key in keysList:
        #replace the uppercase key values with lowercase values
        data[key.lower()] = data.pop(key)
        
    #remove the white spaces
    data = { x.translate({32:None}) : y 
                 for x, y in data.items()}
    return data
#run the map        
# map(cleanColumn(data), data)

#run the clean column function
new_data = cleanColumn(data)

#display the new key values
new_data

{'firstname': ['John', 'James', 'Mary'],
 'age': [22, 34, 30],
 'gender': ['M', 'M', 'F'],
 'salary': [30000, 56000, 44000]}